.navbar {
  background-color: #fff;
  overflow: hidden;
  display: flex;
}

.navbar img {
  width: 100px;
  height: auto;
  overflow: hidden;
  justify-content: end;

}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
  justify-content: center;
}

.navbar li a {
  display: block;
  color: rgb(3, 3, 3);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
